@using Simple_RSVP_App.Entities
@model Simple_RSVP_App.Entities.User

<h1>Simple RSVP</h1>

<br />
<hr />
<br />

<form id="userForm" asp-action="Create" asp-controller="Users" class="col-sm-12">
    <label class="mb-3 required"><b>Name</b></label>

    <div class="row mb-3 col-sm-5">
        <div class="col form-group mr-4 col-sm-3">
            <input type="text" asp-for="Firstname" class="form-control" minlength="3" placeholder="Ana" pattern="[A-Za-z]+" title="Please enter Alphabets" required />
            <label asp-for="Firstname"></label>
            <span asp-validation-for="Firstname" class="text-danger"></span>
        </div>
        <div class="col form-group col-sm-5">
            <input type="text" asp-for="Lastname" class="form-control" minlength="3" placeholder="Burdila" pattern="[A-Za-z]+" title="Please enter Alphabets" required />
            <label asp-for="Lastname"></label>
            <span asp-validation-for="Lastname" class="text-danger"></span>
        </div>
    </div>

    <div class="choice mb-3 col-sm-7">
        <label class="mb-2 required"><b>Are you able to attend? </b></label>

        @foreach (var option in System.Enum.GetValues(typeof(State)))
        {
            <br />
            <label asp-for="Status">@option</label>
            <input type="radio" asp-for="Status" value="@((int)option)" required/>
        }
    </div>


    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Save the user" />
    </div>
</form>