html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.required::after {
    content: " *";
    color: red;
}

.choice {
    background-color: yellow;
    padding: 5px;
    width: 100% !important;
}